# Variables

In [11]:
a = 5
print(a)

5

In [12]:
wave = 76

In [13]:
wave

76

# Things to keep in mind

1. Case Sensistive
2. Variable creation using a letter or a word.
3. Alpha-numeric variable creation allowed.
4. Special char except "_" cannot be used to create variable.
5. Numbers cannot be at the start of a variable

In [14]:
A = 10

In [15]:
a

5

In [16]:
A

10

In [17]:
hit2 = 23

In [18]:
hit2

23

In [19]:
_hit = 54

In [20]:
_hit

54

In [21]:
4hit = 6

SyntaxError: invalid syntax (<ipython-input-21-c445e88e4495>, line 1)

# Data types

* Total 14 Datatype in 7 catergory

**1. String or Character** - string <br>
**2. Numeric** - integer , float, complex<br>
**3. List** - list , tuple , range<br>
**4. Mapping** - dictionary<br>
**5. Set** - set, frozenset<br>
**6. Boolean** - bool<br>
**7. Binary**- bytes,bytearray,memoryview<br>

# String

In [22]:
name = 'Samuel'

In [23]:
name

'Samuel'

In [24]:
name2 = "Sam"

In [25]:
name2

'Sam'

In [27]:
name3 = "Let's do programming"

In [28]:
type(name3)

str

# Numeric 
## Integer

In [29]:
a = 32

In [30]:
type(a)

int

## Float

In [31]:
b = 4.5

In [32]:
type(b)

float

## Complex

In [33]:
c = 3 + 2j

In [34]:
type(c)

complex

# List 
##  List

In [35]:
list1 = [1,2,3,4,5]

In [36]:
type(list1)

list

In [37]:
list2 = [1,2.3,4+5j,"Hi"]

In [38]:
list2

[1, 2.3, (4+5j), 'Hi']

In [40]:
type (list2)

list

In [41]:
list2[2]=4j

In [44]:
print(list2)

[1, 2.3, 4j, 'Hi']

# Tuple

In [45]:
list4 = (1,2.3,5j,"Hello")

In [46]:
type(list4)

tuple

In [47]:
list4[2]=6j

TypeError: 'tuple' object does not support item assignment