# Print

1. Normal Print
2. Format Print

## Normal Print

In [1]:
print("Samuel")

Samuel

In [2]:
a = 45

In [3]:
print(a)

45

## Format Print

### Type 1

In [5]:
print("My name is {} and im from {}".format('Samuel','Chennai'))

My name is Samuel and im from Chennai

In [6]:
print("My name is {} and im from {}".format('Chennai','Samuel'))

My name is Chennai and im from Samuel

### Type 2

In [7]:
name = 'Britto'

In [10]:
print('The person from Chennai is ',name)

The person from Chennai is  Britto

### Type 3 *

In [12]:
place = "Kerala"

In [13]:
print(f"My name is {name} from {place}")

My name is Britto from Kerala

# User Input

In [14]:
input()

great

'great'

In [15]:
a = input()

43

In [16]:
a

'43'

In [18]:
b = input("Enter name: ")
c = input("Enter place: ")

Enter name: Samuel
Enter place: Chennai

In [19]:
b

'Samuel'

In [20]:
type(a)

str

In [21]:
type(b)

str

In [22]:
d=int(input("Enter Value :"))

Enter Value :50

In [23]:
d

50

In [24]:
type(d)

int